.emojiGrid {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 3rem;
}

@media (max-width: 767px) {
    .emojiGrid {
        width: 100%;
        padding-top: 1rem;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}