.emoji {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.emoji > p {
    margin-right: 10px;
}

.emoji > button {
    margin: 5px;
}

.emoji p {
    font-size: 24px;
}

.actionButton {
    background: white;
    border: solid 1px #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.actionButton:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}