.emojiCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.emojiCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.emojiCard p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.emojiCard .emoji {
    font-size: 20px;
    margin: 5px;
}

.emojiCard .word {
    font-size: 14px;
    margin: 5px;
}
